body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', serif;

  background:
    linear-gradient(rgba(11, 46, 19, 0.75), rgba(11, 46, 19, 0.75)),
    url("https://images.unsplash.com/photo-1592919505780-303950717480");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.container {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  padding: 40px;
  border-radius: 16px;
  width: 90%;
  max-width: 440px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0,0,0,0.45);
  border-top: 6px solid #1f7a3a;
}

h1 {
  font-size: 28px;
  color: #1f7a3a;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

select, button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

button {
  background: #1f7a3a;
  color: white;
  border: none;
}

#result {
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
}

.video-thumbnail {
  position: relative;
  margin-top: 10px;
}

.video-thumbnail img {
  width: 100%;
  border-radius: 10px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: rgba(0,0,0,0.7);
  border-radius: 50%;
}

.play-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-left: 12px solid #d4af37;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

/* MOBILE */
@media (max-width: 600px) {
  h1 { font-size: 24px; }
  .container { padding: 25px; }
}
